.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__f9LkU {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.freeBox__f9LkU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__f9LkU > :global(.__wab_flex-container) > *,
.freeBox__f9LkU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f9LkU > :global(.__wab_flex-container) > picture > img,
.freeBox__f9LkU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__iVy2:global(.__wab_instance) {
  position: relative;
}
.freeBox__fyPKn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fyPKn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fyPKn > :global(.__wab_flex-container) > *,
.freeBox__fyPKn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fyPKn > :global(.__wab_flex-container) > picture > img,
.freeBox__fyPKn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fyPKn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fyPKn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fyPKn > :global(.__wab_flex-container) > *,
  .freeBox__fyPKn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fyPKn > :global(.__wab_flex-container) > picture > img,
  .freeBox__fyPKn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.plan__w7X4M:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__wwWbw {
  font-size: 48px;
}
.freeBox__bNUqd {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__bNUqd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bNUqd > :global(.__wab_flex-container) > *,
.freeBox__bNUqd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bNUqd > :global(.__wab_flex-container) > picture > img,
.freeBox__bNUqd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__v0JA8:global(.__wab_instance) {
  position: relative;
}
.bullet___4Xp8H:global(.__wab_instance) {
  position: relative;
}
.bullet__bMNyj:global(.__wab_instance) {
  position: relative;
}
.plan__e2BhB:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__cv1FF {
  font-size: 48px;
}
.freeBox__oXQi3 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__oXQi3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oXQi3 > :global(.__wab_flex-container) > *,
.freeBox__oXQi3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oXQi3 > :global(.__wab_flex-container) > picture > img,
.freeBox__oXQi3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__x1VIj:global(.__wab_instance) {
  position: relative;
}
.bullet__c0SLi:global(.__wab_instance) {
  position: relative;
}
.bullet__yiHs4:global(.__wab_instance) {
  position: relative;
}
.bullet__xbBqS:global(.__wab_instance) {
  position: relative;
}
.plan__rVojr:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__dfj35 {
  font-size: 48px;
}
.freeBox__bl5Jf {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__bl5Jf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bl5Jf > :global(.__wab_flex-container) > *,
.freeBox__bl5Jf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bl5Jf > :global(.__wab_flex-container) > picture > img,
.freeBox__bl5Jf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__jhuzN:global(.__wab_instance) {
  position: relative;
}
.bullet__uhKyg:global(.__wab_instance) {
  position: relative;
}
.bullet___5Nv7G:global(.__wab_instance) {
  position: relative;
}
.section__hNQl:global(.__wab_instance) {
  position: relative;
}
.faq__dvLjg:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__m27T:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__hdOmD:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
