.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  box-shadow: 0px 4px 16px 0px #00000033;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox___40Xm {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.freeBox___40Xm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___40Xm > :global(.__wab_flex-container) > *,
.freeBox___40Xm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___40Xm > :global(.__wab_flex-container) > picture > img,
.freeBox___40Xm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__twrTu:global(.__wab_instance) {
  position: relative;
}
.freeBox___0ZPh0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___0ZPh0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___0ZPh0 > :global(.__wab_flex-container) > *,
.freeBox___0ZPh0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0ZPh0 > :global(.__wab_flex-container) > picture > img,
.freeBox___0ZPh0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0ZPh0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0ZPh0 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0ZPh0 > :global(.__wab_flex-container) > *,
  .freeBox___0ZPh0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0ZPh0 > :global(.__wab_flex-container) > picture > img,
  .freeBox___0ZPh0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__s1ZCj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__s1ZCj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__s1ZCj > :global(.__wab_flex-container) > *,
.freeBox__s1ZCj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s1ZCj > :global(.__wab_flex-container) > picture > img,
.freeBox__s1ZCj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s1ZCj {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s1ZCj > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__eDisb {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.text__uS7R {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__rT0Ef:global(.__wab_instance) {
  position: relative;
}
.svg__uPa7S {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__dpjCk {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__kNnuo:global(.__wab_instance) {
  position: relative;
}
.svg___42Xd3 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__vH8Md {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wJpWz:global(.__wab_instance) {
  position: relative;
}
.svg__zeyGr {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__jqNoT {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__rvezP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rvezP {
    width: 100%;
    min-width: 0;
  }
}
.img__xDfhu {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__xDfhu > picture > img {
  object-fit: cover;
}
.img__xDfhu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__evc0 {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__evc0 > picture > img {
  object-fit: cover;
}
.img__evc0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__pDlB1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__uCH {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  height: 50%;
  width: 100%;
  background: rgb(5, 5, 5);
}
.section___6M9Ns:global(.__wab_instance) {
  position: relative;
}
.freeBox__bSPlQ {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__bSPlQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__bSPlQ > :global(.__wab_flex-container) > *,
.freeBox__bSPlQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bSPlQ > :global(.__wab_flex-container) > picture > img,
.freeBox__bSPlQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__fJKe2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__aDFd4 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ptmdXTepZxtpGo */;
}
.svg__sxYfC {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ufQtB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__iVsDs {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ptmdXTepZxtpGo */;
}
.svg__nhaGx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__hKv2C:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fL37I {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ptmdXTepZxtpGo */;
}
.svg__bPGu {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__cV6Yn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__uBz90 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ptmdXTepZxtpGo */;
}
.svg__rzh2N {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__foksF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___0QaOy {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ptmdXTepZxtpGo */;
}
.svg__cgPbx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__uqZo8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__mqyIj {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ptmdXTepZxtpGo */;
}
.svg__kBr1L {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__taDl5 {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: sWEGhosBBKrcyq */;
}
.section__gv9Pf:global(.__wab_instance) {
  position: relative;
}
.freeBox___7PObW {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7PObW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___7PObW > :global(.__wab_flex-container) > *,
.freeBox___7PObW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7PObW > :global(.__wab_flex-container) > picture > img,
.freeBox___7PObW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__wfHRz {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__mZmR {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__gMvSd {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__b3UhA {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___4I8S0 {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
